*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: hidden;
}

#form {
    display: grid;
    grid-template-columns: 85% 1fr;
    margin: 1rem;
}

/* #input {
    background: #eee;
    height: 2rem;
    padding: 1.5rem;
    border-radius: 10px;
    color: #424242;
}

#form button{
    background: #4caf50;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
} */

#messages {
    list-style-type: none;
    padding-left: 0;

}
#messages li{
    display: flex;
    flex-wrap: wrap;
    
}

#messages li.right {
    justify-content: flex-end;

}


#messages li span {
    background-color: #8dd18f;
    color: #202020;
    padding: 1rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    max-width: 200px;
    

}


#messages li.right span{
    background-color: #eee;
    color: #424242;
    margin: 0.5rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;

}

#messages li.center {
    justify-content: center;
}
#messages li.center p{
    
    color: #9e9d9d;
    padding: 5px;
    margin: 0.5rem 1rem;
    
    max-width: 300px;
}